<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>検証</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../static/js/debug.js" th:src="@{/js/debug.js}"></script>
</head>
<body>
<form>
    <input type="hidden" id="username" name="username" value="kasakaid" />
    <input type="hidden" id="password" name="password" value="password!!!" />
    <input id="requestUrl" class="form-control" placeholder="Request URL" value="http://app.kasakaid.com:9000/research/authentication" name="requestUrl" autofocustrue="true" required="true"/>
    <button id="ajax-button" class="btn btn-lg btn-primary btn-block">Authentication</button>
</form>
</body>
</html>
